* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-brand {
  font-size: 29px;
  color: black;
  font-weight: 700;
}
.navbar-brand:hover {
  color: black;
}
.navbar-brand span {
  font-size: 25px;
  color: red;
}
.nav-link {
  font-size: 17px;
  color: rgb(136, 125, 125);
  font-weight: 500;
}
#nav-home {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
#nav-hover:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.nav-input {
  color: white;
  background: #ce1212;
  border: none;
}

/* home section */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Just+Another+Hand&display=swap");

.food h2 {
  font-family: "Dancing Script", cursive;
  font-size: 45px;

  letter-spacing: 2px;
  line-height: 70px;
}
#book-a-table {
  background: #ce1212;
  color: white;
  border: none;
  padding: 10px 30px;
  letter-spacing: 1px;
  transition: all 0.8s ease-in-out;
}
#book-a-table:hover {
  box-shadow: 0 15px 28px rgba(206, 18, 18, 0.2);
}
#play-box i {
  font-size: 40px;
  color: #f20736;
  margin-left: 25px;
}
#play-box span {
  margin-left: 15px;
  margin-top: 5px;
  font-weight: 600;
}
