* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-brand {
  font-size: 29px;
  color: black;
  font-weight: 700;
}
.navbar-brand:hover {
  color: black;
}
.navbar-brand span {
  font-size: 25px;
  color: red;
}
.nav-link {
  font-size: 17px;
  color: rgb(136, 125, 125);
  font-weight: 500;
}
#nav-home {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
#nav-hover:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.nav-input {
  color: white;
  background: #ce1212;
  border: none;
}

/* home section */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Just+Another+Hand&display=swap");

.food h2 {
  font-family: "Dancing Script", cursive;
  font-size: 45px;

  letter-spacing: 2px;
  line-height: 70px;
}
#book-a-table {
  background: #ce1212;
  color: white;
  border: none;
  padding: 10px 30px;
  letter-spacing: 1px;
  transition: all 0.8s ease-in-out;
}
#book-a-table:hover {
  box-shadow: 0 15px 28px rgba(206, 18, 18, 0.2);
}
#play-box {
  cursor: pointer;
}
#play-box i {
  font-size: 40px;
  color: #f20736;
  margin-left: 25px;
}
#play-box span {
  margin-left: 15px;
  margin-top: 5px;
  font-weight: 600;
}
#play-box span:hover {
  color: #f20736;
  transition: 0.5s ease;
}

/* about section */

.about-box {
  width: 70%;
  height: 150px;
  background: rgb(255, 255, 255);
  position: relative;
  top: -200px;
  left: 100px;
  text-align: center;
}
.about-box span {
  color: red;
  font-size: 30px;
  font-weight: bold;
}
.about-box h3 {
  padding-top: 25px;
}

#card-body-box {
  background: #ce1212;
  color: white;
}
#card-body-box h1 {
  margin-bottom: 30px;
  font-weight: 700;
}
#card-body-box span {
  font-weight: 400;
  font-size: 17px;
}

.learn-more-button {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  transition: all ease-in-out 0.8s;
}

.learn-more-button:hover {
  color: #ce1212;
  background: white;
}

.three-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgb(251, 237, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-transform {
  transition: transform 0.5s;
}
.card-transform:hover {
  transform: scale(1.1);
}

/* number */
.number {
  text-align: center;
}
.number span {
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.number P {
  font-size: 16px;
  font-weight: 700;
  color: rgb(236, 226, 226);
}
.menu {
  text-align: center;
  list-style: none;
}
.menu li {
  font-size: 20px;
  font-weight: lighter;
  font-weight: 300;
  text-underline-offset: 12px;
  word-spacing: 15px;
}
.menu li a {
  color: black;
}
#menu-active {
  color: rgb(223, 14, 14);
}

.menu-hover:hover {
  color: red;
  text-decoration-color: rgb(201, 191, 191);
  text-decoration-thickness: 1px;
}
.starters {
  text-align: center;
  margin-top: 40px;
}
.starters span {
  font-size: 14px;
}
.starters h1 {
  color: #ce1212;
}

.menu-item {
  text-align: center;
  cursor: pointer;
}
.menu-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}
.menu-item p {
  font-size: 18px;
  color: rgb(148, 155, 161);
}
.menu-item span {
  font-size: 26px;
  font-weight: 700;
  color: #ce1212;
  line-height: 9px;
}

/* tstmonial section */

.testimonial {
  margin: 0px 200px;
  border-left: 3px solid #ce1212;
}
.testimonial h4 {
  font-weight: bold;
}

.testimonial p {
  font-size: 17px;
}

.image-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid white;
}
.swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(11, 8, 8, 0.5);
  opacity: ;
}
.swiper-pagination-bullet-active {
  background: rgb(255, 0, 0);
}
/* moment section */

.text {
  color: white;
  padding: 400px 20px 0px 20px;
}
.text h3 {
  font-weight: bold;
}
.text span {
  font-size: 37px;
  font-weight: bold;
  /* text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
  outline-offset: 15px; */
  text-decoration: underline solid red 7%;
  -moz-text-decoration-offset: 10px;
}
.text p {
  font-size: 18px;
}

.swiper-slide {
  transition: all 1s ease-in;
}

/* profestional chef */

.card-img-top {
  height: 45vh;
}
.waves {
  position: absolute;
  top: 330px;
}

.card-body {
  text-align: center;
}
.card-body span {
  color: rgb(195, 201, 206);
}
.card-body p {
  margin-top: 17px;
  font-size: 15px;
  color: rgb(110, 103, 103);
  line-height: 24px;
}
.card {
  transition: all 0.5s ease-in;
  background-size: cover;
  overflow: hidden;
  /* transition: all 0.5 ease-in; */
}
.card:hover {
  transform: scale(1.1);
}

/* book a table */

.reser-image {
  height: 55vh;
  position: relative;
  right: 10px;
}

.input-box {
  padding: 10px;
  border: 1px solid rgb(228, 223, 223);
}
